* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-body {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  border: 5px solid gray;
  border-radius: 10px;
}
.container-body .form-control {
  max-width: 300px;
}

li {
  list-style-type: none;
}

.main-title {
  background-color: #007bb6;
  color: whitesmoke;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar {
  margin-top: 20px;
  /* background-color: whitesmoke; */
}

.nav-bar button{
  width: 140px;
  margin: 0 10px;
}

.nav-bar button i{
  margin-right: 10px;
}

.nav-bar button:hover {
  background-color: blue;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.list-container {
  /* background-color: whitesmoke; */
  /* background-color: hotpink; */
  width: 50%;
  max-width: 80%;
  /* min-width: 40%; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  margin: auto;
  margin-bottom: 20px;
  /* justify-content: center; */
}

.item-list {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding-left: 10px;
  /* border: 1px grey solid; */
  margin-bottom: 5px;
  font-size: 1.5em;
  background-color: whitesmoke;
  border-radius: 10px;
  
}
